
@{
    Layout = null;
    var controllerName = ViewContext.RouteData.Values["controller"];
    var actionName = ViewContext.RouteData.Values["action"];
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Styles/index.css" rel="stylesheet" />
</head>
<body>
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/" class="nav-link px-2 
                           @if (controllerName.Equals("Home") && actionName.Equals("Index")) { Write("text-primary"); } 
                           else { Write("text-white"); } ">
                        Home</a>
                    </li>
                    <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">About</a></li>
                </ul>

                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                    <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
                </form>

                <div class="text-end">
                    
                    @if (User.Identity.IsAuthenticated)
                    { 
                        <button type="button" class="btn btn-warning" id="sign-out">Sign-Out</button> 
                    }
                    else 
                    { 
                        <button type="button" class="btn btn-warning" id="sign-up">Sign-Up</button> 
                        <button type="button" class="btn btn-outline-light me-2" id="sign-in">Sign-In</button> 
                    }
                </div>
            </div>
        </div>
    </header>
    <main>
        @RenderBody()
    </main>

    <script>
        const signIn = document.getElementById("sign-in");
        if (signIn !== null) signIn.addEventListener("click", () => location.href = "/signin");

        const signUp = document.getElementById("sign-up");
        if (signUp !== null) signUp.addEventListener("click", () => location.href = "/signup");

        const signOut = document.getElementById("sign-out");
        if (signOut !== null) signOut.addEventListener("click", () => location.href = "/signout");
    </script>
</body>
</html>
