
@{
    Layout = "~/Views/Shared/Layouts/MainLayout.cshtml";
}

@using Topics.Models;
@model Topics.Models.PostList


<div class="container">
    @Html.Partial("~/Views/Shared/Posts.cshtml", new PostList() { Posts = Model.Posts })
</div>