@{
    Layout = "~/Views/Shared/Layouts/_BasicLayout.cshtml";
}

@using Topics.Constants;

@model Topics.Models.SignUp.FormErrorModel

@section Title {
    Sign In
}

@section Import {}

<form method="POST" action=@Routes.SIGN_IN>
    <div class="container text-center d-flex flex-column align-items-center mt-5 gap-2">
        <h1 class="h3 mb-3 fw-normal">Sign In</h1>

        <div class="form-floating">
            <input class="form-control"
                   id="floatingUsername"
                   placeholder="Username"
                   name="username"
                   required
                   @if (Model != null) { Write("value=" + Model.Username); } />
            <label for="floatingUsername">Username</label>
        </div>

        <div class="form-floating">
            <input type="password"
                   class="form-control"
                   id="floatingPassword"
                   placeholder="Password"
                   name="password"
                   required
                   minlength="6" />
            <label for="floatingPassword">Password</label>
        </div>

        @if (Model != null)
        {
            <div class="alert alert-danger" role="alert">
                @Model.ErrorMessage
            </div>
        }

        <button class="btn btn-lg btn-primary" type="submit">Sign in</button>
    </div>
</form>